<%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :post do |f| %>
    <div class="post-title-c">            
        <%= f.text_field :title, placeholder: "Title", required: true %>
    </div>
    <div class="post-text-c">
        <%= f.text_area :text, placeholder: "Type here...", rows: 20, required: true %>
    </div>
    <%= f.submit "Post", class: "submit-btn" %>
<% end %>